@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
   :root {
    --background: 0 0% 98%;
    --foreground: 240 3% 6%;

    --card: 0 0% 100%;
    --card-foreground: 240 3% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 3% 6%;

    --primary: 174 62% 27%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 3% 6%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 3% 46%;

    --accent: 174 62% 27%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 174 62% 27%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 3% 26%;
    --sidebar-primary: 240 6% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 240 6% 91%;
    --sidebar-ring: 174 62% 27%;
  }

  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 100%;

    --card: 240 3% 8%;
    --card-foreground: 0 0% 100%;

    --popover: 240 3% 8%;
    --popover-foreground: 0 0% 100%;

    --primary: 174 62% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 3% 12%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 3% 12%;
    --muted-foreground: 240 3% 65%;

    --accent: 174 62% 57%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 3% 15%;
    --input: 240 3% 15%;
    --ring: 174 62% 57%;
    
    --sidebar-background: 240 3% 6%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 174 62% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 174 62% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  html {
    scroll-behavior: smooth;
  }

  @media print {
    @page {
      margin: 0.5cm;
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .container {
      padding: 0;
      margin: 0;
    }
  }
}
